<head>
  <title>skiiipickem</title>
</head>

<body>
  <h1>Welcome to Meteor!</h1>

  {{> hello}}
    {{>Vartan}}
</body>

<template name="hello">
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
</template>


<template name="Vartan">
    <h1> THIS WEEKS GAMES </h1> 
    <h1>    Thursday , October 15 </h1>
       <h1>Falcons vs. Saints   5:25 PM
        <button>Flacons</button> OR <button>Saints</button>
        <p>You've voted for the Falcons</p><p>You've voted for Saints</p>
            Please pick before wednesday at 11:59 PM
    </h1>
</template>